<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sum of Best</title>
  <link rel="stylesheet" href="/css/mystyles.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <nav role="navigation" aria-label="main navigation">

      <div class="brand">
        <a href="/">
          <img src="/images/brand.png">
        </a>
      </div>

      <div class="end">
        <div class="item">
          <div class="buttons">
            {{#if loggedIn}}
            <form action="/signup/logout" method="post">
              <input class="button" type="submit" name="Logout" value="Logout"/>
            </form>
            {{else}}
            <a class="button" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/signup/login">
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>


    </nav>
  <main>
    {{{ body }}}
  </main>

  <footer>
    <div>
      <p>
        <strong><a href="https://github.com/NTumminaro/Sum-Of-Best">Github</a></strong>
      </p>
    </div>
  </footer>
</body>


</html>
