<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sum of Best</title>
  <link rel="stylesheet" href="/css/mystyles.css">
</head>

<body class="has-background-grey">
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="margin-bottom: 20px;">

      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/brand.png">
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if loggedIn}}
            <form action="/signup/logout" method="post">
              <input class="button is-primary" type="submit" name="Logout" value="Logout"/>
            </form>
            {{else}}
            <a class="button is-primary" href="/signup">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="signup/login">
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>



    </nav>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

  <footer class="footer" style="margin-top: 20px;">
    <div class="content has-text-centered">
      <p>
        <strong><a href="https://github.com/NTumminaro/Sum-Of-Best">Github</a></strong>
      </p>
    </div>
  </footer>

</body>

</html>
