{{!-- games needs to be passed into here, from routes --}}
<div class="columns is-multiline">
    {{#each gamesList}}
    <div class="column is-one-quarter">
        {{> game-cards}}
    </div>
    {{/each}}
</div>