{{!-- games needs to be passed into here, from routes --}}
<div class="game">
    {{#each gamesList}}
    <div class="game-rows">
        {{> game-cards}}
    </div>
    {{/each}}
</div>

{{print_object game}}