
<div class="signup">
    <form action="/signup" method="post">
        {{#if nameCheckFail}}
        <div class="field">
            <label class="label has-text-warning">That Username is already taken!
        </label>
        </div>
        {{/if}}
        {{#if pwCheckFail}}
        <div class="field">
            <label class="label has-text-warning">Password must be 8 Characters!
        </label>
        </div>
        {{/if}}
        {{#if pwConfirmFail}}
        <div class="field">
            <label class="label has-text-warning">Passwords must match!
        </label>
        </div>
        {{/if}}
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" name="username" placeholder="Username"/>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="password" placeholder="Password"/>
            </div>
        </div>
        <div class="field">
            <label class="label">Confirm password</label>
            <div class="control">
                <input class="input" type="password" name="confirm" placeholder="Confirm Password"/>
            </div>
        </div>
        <div class="field">
            <button class="button is-success mt-3"/>Login</button>
        </div>
    </form>                  
</div>          
